.techno{
    max-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: #1d117c;
    opacity: 0.8;
    background-image: radial-gradient(#fdfdff 1.05px, #1d117c 1.05px);
    background-size: 21px 21px;
}


.container {
    --gap: 100px;
    --num--cols: 4;
    --row--height: 70px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num--cols), 1fr);
    grid-auto-rows: var(--row--height);
    gap: var(--gap);
    justify-content: center;
    align-items: center;
}

.img {
    background-color: white;
    height: 120px;
    align-content: center;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    
}

.title {
    font-size: 35px;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}



.img img {
    height: 120px;
    width: 120px;
    object-fit:scale-down;
    filter: grayscale(1);
    
}

.container img:hover {
    /* transform: scale(1.2); */
    cursor: pointer;
    filter: grayscale(0);
}