.Home {
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    /* background-color: #b62a8f; */
    background-image: linear-gradient(to left, #b05ec2, #aa59bc, #a453b7, #9f4eb1, #9949ac, #8f41a3, #863a99, #7c3290, #6c2680, #5c1a71, #4d0d62, #3e0053);
    background-size: cover;
    background-position: center;
}

.presentation {
    font-size: 30px;
    text-align: center;
}

.full {
    color:#ff0000;
    /* font-family: 'DM Serif Display', serif; */
    font-weight: 700;
    font-style: italic;
}

.welcome {
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 25px;

}



.container {
    display: flex;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
}

.svg {
    width: 400px;
    margin: 0 40px;
}

button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

   