footer {
    background-color: #000;
    color: #fff5f0;
    text-align: center;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: #fff5f0;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

footer a:hover {
    color: #ff0000;
    transform: scale(1.3);
}